h1 {
    color:red;
    text-align: center;
    font-family:Helvetica, sans-serif;
}

img {
    margin-left:auto;
    margin-right: auto;
    display:block;
}

ul {
    color:blueviolet;
}

h3 {
    color:brown;
    background-color: black;
}